$login-signupbutton: #e4e4e4a1;

$login-signupbutton-hover: #e4e4e4db;

$loginsignuptext:  rgba(255, 255, 255, 0.741);

$hover-text:  rgb(255, 255, 255);

$inputcolor:  rgba(228, 228, 228, 0.16);;

$bodybackground: #ffffff;

$profile-btn: #ffffff;

$danger: red;