@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";
body{
  background-color: $bodybackground;
}

.logo{
  width: 8%;
  position: relative;
}

.body-container{
  margin-top: 58px;
}

.hide {
  display: none;
}





.profile-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px; 
  display: flex;
  margin: 0 auto;
}



.profile-img {
  width: 100%;
  height: 100%;
}




.content-font,
.listing-heading{
  font-family: 'Inria Serif', serif;
}




.profile-name{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  font-size: 25px;
  font-family: 'Inria Serif', serif;
}

.credits{
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.heading-font{
  font-size: 20px;
  font-family: 'Inria Serif', serif;
  
}

.delete-btn{
  color: black;
}
.delete-btn:hover{
color: $danger;
}


.btn-logout:hover,
.btn-logout:active{
  color: #dad6d4 ;
}
.profile-btn:hover,
.profile-btn:active{
background-color: #dad6d4 ;
}
.place-bid-btn:hover,
.place-bid-btn:active{
  background-color: #e4e2e192 ;
}

.place-bid-btn,
.profile-btn
{
  border: 1px rgba(0, 0, 0, 0.477) solid;
}

.view-img-btn:hover,
.view-img-btn:active{
  color: rgba(0, 0, 0, 0.321);
}

.img-Button{
  font-size: 12px;
}

.custom-search-input{
  width: 150px;
}

.delete-icon{
  margin-left: 20px;
}
.delete-icon:hover,
.delete-icon:active{
  color: red;
}


.listings-top-h{
  font-family: 'Inria Serif', serif;
  font-size: 30px;
}

.searchInput{
  width: 40%;
  margin-left: 5rem;
}




.right-col{
  justify-content: center;
  box-shadow: 8px 4px 17px 10px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;
}


.scroll-arrow{
  color: black;
}
.scroll-button {
  cursor: pointer;
  float: right;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


//Listings and bids


.modal-image{
  width: 30%;
  margin: auto;
}


.modal{
  background-color: rgba(0, 0, 0, 0.692);
}



.listing-heading{
  font-size: 30px;
}


.listing-description{
  text-align: left;
  margin: 0px;
}

.listing-description-p{
  color: rgb(136, 136, 136);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.bg-listing{
  background-color: white;

}

.listing-img{
  width: 100%;
  height: auto;
}




//bid

.active-bid{
  justify-content: left;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding: 12px 0px 0px 0px;
}

.bid-card{
  background-color: rgba(255, 255, 255, 0.223);
}

.font-bid{
  font-family: 'Inria Serif', serif;
}

.deadline{
  font-size: 18px;
  display: flex;
}

.bid-warning{
  color: rgb(136, 136, 136);
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  justify-content: center;
}
.fa-circle-question{
color: #7e7e7e;
}

.previous-bids{
  border-top: 2px solid rgba(0, 0, 0, 0.06);
  font-size: 20px;
}

.bidder-name{
  border-bottom: 2px solid rgba(0, 0, 0, 0.22);
}



.login-to-bid-btn{
  border: 1px solid rgba(0, 0, 0, 0.759);
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.login-to-bid-btn:hover{
  background-color: #dad6d4 ;
}






@media (max-width: 767px) {
.logo{
  width: 25%;
  position: inherit;
}
.body-container {
  margin-top: 35px;
}
.left-col {
  border: none;
}

.heading-font,
.content-font{
  font-size: 15px;
}
.left-col{
  padding: 0px;
}
#postImage {
  font-size: 13px;
}
.right-col-mq{
  margin: 0px;
  padding: 0px;
}
.listings-top-h{
  padding-top: 20px ;
}
.searchInput {
  width: 50%;}

  .right-col{
    margin-left: 0px;

  }


}