@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.navbar{
  z-index: 1;
  font-family: 'Inria Serif', serif;
}

.login-page{
  font-family: 'Inria Serif', serif;
}

.no-account{
  color: $loginsignuptext;
  padding-right: 36px;
  top: -35px;
  position: relative;
}
.no-account:hover{
  color:$hover-text ;
}

.login-signup-text{
  color: $loginsignuptext;
}
.login-signup-text:hover{
  color: $hover-text;
}




//footer

footer{
  font-family: 'Inria Serif', serif;
}

.fa-instagram {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e5e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  color: transparent;
}
.fa-facebook{
  color: #1747a1;
}
.fa-twitter{
  color: #22c2ff;
}


//media

@media (max-width: 767px) {
  .background-img {
    background-position: 31% center;
  }
  .no-account {
    padding-left: 200px;
    padding-right: 0px;
    top: -142px;
    position: relative;
    font-size: 10px;
}
.opening-img,
.new-image {
  display: none;
}

  .align-items-end.text-center {
    align-items: center !important;
    text-align: center !important;
  }
  .mb-4 {
    margin-bottom: 4px !important;
  }
}