@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

.navbar{
  z-index: 1;
  font-family: 'Inria Serif', serif;
}

.login-page{
  font-family: 'Inria Serif', serif;
}


//footer

footer{
  font-family: 'Inria Sans', sans-serif;
}

.fa-instagram {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e5e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  color: transparent;
}
.fa-facebook{
  color: #1747a1;
}
.fa-twitter{
  color: #22c2ff;
}


//media

@media (max-width: 767px) {
  .background-img {
    background-position: 31% center;
  }
  .no-account {
    padding-left: 200px;
    padding-right: 0px;
    top: -142px;
    position: relative;
    font-size: 10px;
}
.opening-img,
.new-image {
  display: none;
}

  .align-items-end.text-center {
    align-items: center !important;
    text-align: center !important;
  }
  .mb-4 {
    margin-bottom: 4px !important;
  }
}